body {
  background-color: #ccf5f5;
}

#gameholder {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  width: 600px;
  height: 150px;
  background-image: url(../images/penguin_title.png);
}

#score {
  width: 150px;
  height: 70px;
  position: absolute;
  left: 75%;
  border: 3px groove darkslategrey;
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 1.5em;
  font-weight: 800;
  color: darkslategrey;
  text-shadow: 2px 2px lightgrey;
  background-color: rgba(0, 0, 0, 0.1);
}

#round {
  width: 150px;
  height: 70px;
  position: absolute;
  right: 0%;
  border: 3px groove darkslategrey;
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 1.5em;
  font-weight: 800;
  color: darkslategrey;
  text-shadow: 2px 2px lightgrey;
  background-color: rgba(0, 0, 0, 0.1);
}

#fadeMe {
  opacity: 0.7;
  filter: alpha(opacity=80);
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

#finalScore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 40px;
}

#gamearea {
  height: 900px;
}

#penguin {
  width: 200px;
  height: 200px;
  float: left;
}
